<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.CashbookMapper">
	<select id="selectCashListByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT cashbook_kind cashbookKind, 
				SUM(cashbook_price) cashbookPrice, 
				DAY(cashbook_date) dday
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{currentYear}
		AND MONTH(cashbook_date) = #{currentMonth}
		GROUP BY DAY(cashbook_date), cashbook_kind
	</select>
	
	<select id="selectCashInOutList" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(cashbook_date, '%Y.%m') AS "날짜"
			,SUM((case when cashbook_kind = '수입' then cashbook_price ELSE 0 END)) AS "수입"
			,SUM((case when cashbook_kind = '지출' then cashbook_price ELSE 0 END)) AS "지출"
			,SUM((case when cashbook_kind = '수입' then cashbook_price ELSE 0 END)
				-(case when cashbook_kind = '지출' then cashbook_price ELSE 0 END)) AS "합계"
		FROM cashbook
		GROUP BY DATE_FORMAT(cashbook_date, '%Y.%m')
		LIMIT 3
	</select>
	
	<select id="selectSumCashbookPriceByInOut" parameterType="java.util.Map" resultType="Integer">
		SELECT NVL(SUM(cashbook_price), 0)
		FROM cashbook
		WHERE cashbook_kind = #{cashbookKind} 
		AND YEAR(cashbook_date) = #{currentYear} 
		AND MONTH(cashbook_date) = #{currentMonth}
	</select>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>